*{
  background-color: rgb(146, 198, 230);
}
.test
{
  color: blue;
  text-align: center;
}

.back
{
  background-color: rgb(146, 198, 230);
}

.h1{
  text-emphasis-color: rgb(181, 189, 193) ;
}
table {
  border: 2px solid rgb(10, 10, 10);
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
.tab{
  text-decoration-color: aqua;
}
.line{
  bleed:width=5px;
  color: black;
}